.container {
  position: absolute;
  /* top: 30%; */
  /* left: 10px; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    90deg,
    rgba(214, 10, 49, 1) 30%,
    rgba(178, 15, 116, 1)
  ); */

  color: #fff;
  background: linear-gradient(
    110deg,
    #d60a31,
    #b10f74,
    #38a3c7,
    #32599e,
    #541f7a
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 60s ease infinite;
  -moz-animation: Gradient 60s ease infinite;
  animation: Gradient 60s ease infinite;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.titleWprapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 20px;
  padding-top: 90px;
  line-height: 1;
}

.titleText {
  font-size: 70px;
  color: white;
  font-family: 'BoschSans Light';
}

.subtitleAndLineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitleWrapper {
  width: 50%;
}

.subtitleText {
  font-size: 20px;
  margin-left: 100px;
  /* margin-right: 100px; */
  color: white;
  font-weight: 100;
  font-family: 'BoschSans Light';
}

.lineWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
}

.line {
  height: 1px;
  width: 100%;
  background-color: white;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
