.container {
  border: 1px solid #6f6f6e;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.lightContainer {
  border: 1px solid #cccccc;
}

.title {
  text-align: center;
  font-size: 16px;
  font-family: 'BoschSans Light';
  color: #6f6f6e;
}

.lightTitle {
  color: #cccccc;
}
