.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.wrapper {
  /* height: 100%; */
  flex-direction: column;
  background-color: white;
  display: flex;
  /* height: 600px; */
  height: 100%;
  flex-wrap: wrap;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  /* height: 80%; */
  padding: 100px;
}

.leftColumn {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.rightColumn {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.inputWrapper {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.inputText {
  font-size: 16px;
  font-family: 'BoschSans LightItalic';
  color: #868686;
}

.inputTextWithValue {
  font-size: 16px;
  font-family: 'BoschSans LightItalic';
  color: #000000;
}

.arrowIcon {
  float: right;
  width: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.bottomWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.logoWrapper {
}

.logo {
  width: 180px;
}

.buttonsWrapper {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
}

.keyboardWrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  background-color: white;
}

.selectablesWrapper {
  /* position: absolute; */
  margin-top: 100px;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.keyboardInputTextWrapper {
  max-height: 200px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin-right: 30%;
  margin-left: 30%;
  /* margin-bottom: 15%; */
}

.keyboard {
  margin-top: 15%;
}

.keyboardInputText {
  font-size: 16px;
  font-family: 'BoschSans LightItalic';
  color: #868686;
}

.selectableProvinceWrapper {
  column-count: 3;
  column-gap: 20px;
  margin-right: 10%;
  margin-left: 20%;
}

.selectableItemsWrapper {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  /* padding-bottom: 5px; */
  margin-right: 30%;
  margin-left: 30%;
  /* margin-bottom: 28%; */
}

.selectableItemTextWrapper {
  margin-bottom: 5px;
}

.selectableItemText {
  font-size: 16px;
  font-family: 'BoschSans LightItalic';
  color: #868686;
  font-weight: 900;
}
/* 
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(50px, 150px)
  ); 
  grid-gap: 10px;
*/
